**/obj/**
**/bin/**
**/Debug/**
**/Release/**
**/ipch/**
**/TestResults/**
*.vssscc
*.vspscc
*.suo
**/App_Data/**
**/packages/**
Core/bin
Core/resources
Core/packages
*.dbmdl
*.sqlproj.user
.nuget
*.pyc
*.VC.db
*.VC.VC.opendb
.vs/
*.user
Web.local.config
*.sdf
.DS_Store
.gradle/
.idea/
.metadata/
bin/
build/
coverage/
gen/
local.properties
#gradle/
.hg/
.settings/
*.iml
Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
obj
**/*Publish/**
**/*publish/**
/Test*
/nupkgs
