<?xml version="1.0" encoding="utf-8"?>
<configuration>
<packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="jfrogbps" value="http://ssnj-artifact01.billtrust.local:8081/artifactory/api/nuget/vuebillnuget" />
    <add key="vuebill-releasecandidates" value="http://ssnj-artifact01.billtrust.local:8081/artifactory/api/nuget/vuebill-releasecandidates" />
  </packageSources>
</configuration>